<h1>Results</h1>
<p>Your word: <strong><%= @word %></strong> </p>
<p>Your score: <%= @score %> </p>
<p>Message: <%= @message %> </p>
<p><strong><%= @word %></strong> <%= @message1 %> <%= params[:letters] %></p>
